body{
    max-width: 375px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
*{
    box-sizing: border-box;
}
.menu{
    height: 80px;
    background: #FFFFFF;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 23px;
    position: fixed;
    
}
.superior{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    top: 0;
    
}
.inferior{
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding-right: 16px;
    bottom: 0;
}
.iconePessoas{
    font-size: 40px;
}
.iconeAviao{
    font-size: 30px;
    right: 0px;
}
.chat{
    padding-top: 106px;
    margin-bottom: 80px;
    
    background-color: #f3f3f3;
    width: 100%;
    

}
.msg{
    display:flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 2px;
    min-height: 40px;
    max-width: 375px;
    margin-bottom: 4px;
    padding-right:8px;
    padding-left:8px;
    font-family: 'Roboto';
    word-break: break-word;
    
    font-size: 14px;
    line-height: 16px;

}
.reservada{
    background: #FFDEDE;
}
.status{
    background: #DCDCDC;
}
.caixaInput{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
    outline: none;
    width: 295px;
}
span{
    font-weight: bold;
}